@font-face {
    font-family: retro-gamming;
    src: url(./fonts/digital-7.monoitalic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    user-select: none;
}

/*Scroll bar*/

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--body-background);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scroll-color);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-color-hover);
}

/* Corner */
::-webkit-scrollbar-corner {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(0, 158, 247);
    background: linear-gradient(300deg, rgb(48, 179, 255) 0%, rgba(0, 158, 247, 1) 100%);
}

#container {
    box-shadow:
        calc(var(--width) * -0.03) calc(var(--width) * 0.03) var(--dispersion) black,
        calc(var(--width) * -0.02) calc(var(--width) * 0.02) var(--dispersion) var(--color-shadow-reflexion) inset,
        calc(var(--width) * 0.01) calc(var(--width) * -0.01) var(--dispersion) var(--color-shadow) inset;
}

#container > canvas {
    box-shadow:
        calc(var(--width) * -0.01) calc(var(--width) * 0.01) var(--dispersion) var(--color-shadow),
        calc(var(--width) * 0.01) calc(var(--width) * -0.01) var(--dispersion) var(--color-shadow-reflexion);
}

#container > div > .sm-btn {
    box-shadow:
        calc(var(--width) * -0.0075) calc(var(--width) * 0.0075) var(--dispersion) var(--color-shadow),
        calc(var(--width) * -0.01) calc(var(--width) * 0.01) var(--dispersion) var(--button-color-reflexion) inset;
}

#container > div > .sm-btn:active {
    box-shadow:
        calc(var(--width) * -0.004) calc(var(--width) * 0.004) var(--dispersion) var(--color-shadow),
        calc(var(--width) * -0.003) calc(var(--width) * 0.003) var(--dispersion) var(--button-color-reflexion) inset;
    transform: translateX(calc(var(--width) * -0.0025)) translateY(calc(var(--width) * 0.0025));
}

#container > div > .btn {
    box-shadow:
        calc(var(--width) * -0.015) calc(var(--width) * 0.015) var(--dispersion) var(--color-shadow),
        calc(var(--width) * -0.0175) calc(var(--width) * 0.0175) var(--dispersion) var(--button-color-reflexion) inset;
}

#container > div > .btn:active {
    box-shadow:
        calc(var(--width) * -0.004) calc(var(--width) * 0.004) var(--dispersion) var(--color-shadow),
        calc(var(--width) * -0.003) calc(var(--width) * 0.003) var(--dispersion) var(--button-color-reflexion) inset;
    transform: translateX(calc(var(--width) * -0.005)) translateY(calc(var(--width) * 0.005));
}

#container > div > .lg-btn {
    box-shadow:
        calc(var(--width) * -0.02) calc(var(--width) * 0.02) var(--dispersion) var(--color-shadow),
        calc(var(--width) * -0.0175) calc(var(--width) * 0.0175) var(--dispersion) var(--button-color-reflexion) inset;
}

#container > div > .lg-btn:active {
    box-shadow:
        calc(var(--width) * -0.005) calc(var(--width) * 0.005) var(--dispersion) var(--color-shadow),
        calc(var(--width) * -0.004) calc(var(--width) * 0.004) var(--dispersion) var(--button-color-reflexion) inset;
    transform: translateX(calc(var(--width) * -0.0075)) translateY(calc(var(--width) * 0.0075));
}

#brick-game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#splash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.85;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#source-code {
    position: absolute;
    top: 2%;
    right: 2%;
}

#controls {
    position: absolute;
    top: 2%;
    left: 2%;
}

#source-code,
#controls {
    background-color: var(--main-color);
    padding: 0.75rem;
    border-radius: 1.5rem;
    cursor: pointer;
    box-sizing: content-box;
}

#source-code > #source-code-button,
#controls > #controls-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#source-code > #source-code-button > img,
#controls > #controls-button > img {
    width: 2.5rem;
    filter: invert();
}

#source-code:hover,
#controls:hover {
    background-color: var(--color-shadow-reflexion);
}
#source-code:active,
#controls:active {
    filter: brightness(1.15);
}

#source-code::after,
#controls::after {
    font-family: 'retro-gamming';
    padding: 0.5rem;
    width: 6rem;
    background-color: white;
    text-align: center;
    border-radius: 0.25rem;
    border: 1px black solid;
    box-shadow: 0.25rem 0.25rem black;
    opacity: 0;
    transition: 0.25s opacity;
}

#source-code:hover::after,
#controls:hover::after {
    opacity: 1;
}

#source-code::after {
    content: 'source code';
    position: absolute;
    top: 75px;
    left: -65px;
}

#controls::after {
    content: 'Controls';
    position: absolute;
    top: 75px;
    left: 15px;
}

@media only screen and (max-width: 600px) {
    #source-code,
    #controls {
        display: none;
    }
}

#controls-modal {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

#controls-modal.visible {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

#controls-modal > #modal {
    width: 80%;
    height: 50%;
    border-radius: 1rem;
    background-color: var(--main-color);
    position: relative;
    border: 3px solid black;
    overflow: auto;
}

#controls-modal > #modal > #close-btn > img {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2.5rem;
    cursor: pointer;
}

#controls-modal > #modal > #close-btn > img:hover {
    filter: contrast(0.8);
}

#controls-modal > #modal > #close-btn > img:active {
    filter: contrast(0.7);
}

#wasd {
    display: flex;
    flex-direction: row;
    width: 13.5rem;
    flex-wrap: wrap;
}
.w-key {
    margin-right: 4.75rem !important;
    margin-left: 4.75rem !important;
}

.key {
    width: 4rem;
    margin: 0.25rem;
}

.key-description {
    font-family: 'retro-gamming';
    font-size: 2rem;
}

.command {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 2rem;
}

#device-buttons {
    display: flex;
    flex-wrap: wrap;
}

#device-buttons > .command {
    width: 30%;
}
